.flexbox-container-about {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: 200px 10% 5% 10%;
    justify-content: space-between;

    p {
        font-size: 1.3em;
    }
}

.about-box {
    flex-basis: 30%;
    width: 100%;
    margin: 1em;  
}

.preference-box {
    position: relative;   
    margin: 15px;   
    padding: 15px;
}


#photo {
    background-image: url(./images/profile-pic-01.jpg);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 30vh;
    border: 3px $black solid;

    &:hover {
        background-image: url(./images/louise-pic-01.jpg);
    }
}

.preference {
    display: flex;
    align-items: center;
    width: 30vw;
    height: auto;
 

    img {
        width: 10%;
        height: auto;
        background-color: $white;
    }
}

.line {
    width: 90%;
    background-image: linear-gradient(to top,transparent 50%, $black 50%, $black 55%, transparent 55%);
    position: relative;

    .counter {
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 3px solid $black;
        background-color: $pink;
        z-index: 5;
        position: relative;
        top: 35%;
    }

    #counter1 {
        left: 25%;
    }

    #counter2 {
        left: 65%;
    }
    
    #counter4 {
        left: 50%;
    }

    #counter3 {
        left: 75%;
    }
}


@media screen and (max-width: 799px){

    .flexbox-container-about {
        justify-content: center;
        // margin-top: 40%;
    }
        
    .about-box {
        flex-basis: 100%;

        p {
            font-size: 1em;
        }
    }

    .preference {
        width: 85vw;
    }
}

@media screen and (min-width: 800px){

    .flexbox-container-about {
        justify-content: flex-start;
    }

    .about-box {
        margin: 1.5em;
    }

    #box-two {
        order: 1;
        flex-basis: 100%;
    }

    #photo {
        order: 2;
        flex-basis: 40%;
    }

    .preference-box {
        order: 3;
        flex-basis: 40%;
        margin: 0;
    }
        

    .preference {
        width: 40vw;

        .navbar__item {
            margin: 10px;
        }
        
        img {
            width: 5%;
        }
    }
    .line .counter{
        top: 30%;
    }   
}
