.flexbox-container-about {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: 200px 10% 5% 10%;
    justify-content: space-between;
    // background-color: black;
}

.about-box {
    flex-basis: 30%;
    width: 100%;
    // position: relative;
    margin: 10px;  
    // background-color: red; 
}

.preference-box {
    // flex-basis: 20%;
    position: relative;
    
    // margin: 10px;   
    padding: 0;
}


#photo {
    background-image: url(./images/profile-pic-01.jpg);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 30vh;

    &:hover {
        background-image: url(./images/louise-pic-01.jpg);
    }
}

.preference {
    display: flex;
    align-items: center;
    // justify-content: space-evenly;
    width: 30vw;
    height: auto;
    margin: -10px 0;
    // align-content: space-between;
    // background-color: purple;

    img {
        // display: block;
        // max-width:100%;
        // max-height:100%;
        width: 10%;
        height: auto;
        background-color: $white;
    }
}

.line {
    width: 90%;
    background-image: linear-gradient(to top,transparent 50%, $black 50%, $black 55%, transparent 55%);
    position: relative;

    .counter {
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 3px solid $black;
        background-color: $pink;
        z-index: 5;
        position: relative;
        top: 35%;
    }

    #counter1 {
        left: 25%;
    }

    #counter2 {
        left: 65%;
    }
    
    #counter4 {
        left: 50%;
    }

    #counter3 {
        left: 75%;
    }
}


// @media screen and (max-width: 700px){

//     .flexbox-container-about {
//         justify-content: center;
//         margin-top: 40%;
//     }
        
//     .about-box {
//         flex-basis: 30%;
//     }
// }


@media screen and (max-width: 768px){

    .flexbox-container-about {
        justify-content: center;
        margin-top: 40%;
    }
        
    .about-box {
        flex-basis: 100%;
    }

    .preference {
        width: 85vw;
    }
}

@media screen and (min-width: 1200px){

    .flexbox-container-about {
        justify-content: flex-start;
        margin-top: 10%;
    }
        
    .about-box {
        flex-basis: 20%;
    }

    .preference {
        width: 40vw;

        .navbar__item {
            margin: 10px;
        }
        
        img {
            width: 5%;
        }
    }
    .line .counter{
        top: 30%;
    }
    
}
