.flexbox-container-contact {
    display: flex;
    // flex-wrap: wrap;
    width: 80vw;
    // margin: 50% 10% 5% 10%;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 10%;
}


.contact-box {

    background-color: $white;
    border-radius: 50%;
    flex-basis: 35%;
    position: relative;
    margin: 10px;
    border: 3px solid;

    img {
        object-fit: cover;
        width: 100%;
        height: auto;

        &:hover {
            filter: invert(100%); 
        }
            
    }
}

#github {
    
    &:hover {
        background-color: $pink;
    }
}

#twitter {

    &:hover {
        background-color: $yellow;
    }
}

#linkedin {

    &:hover {
        background-color: $green;
    }
}

#email {

    &:hover {
        background-color: $orange;
    }
}

// @media screen and (max-width: 1024px){

//     .flexbox-container-contact {
//         justify-content: center;
//         margin-top: 50%;
//     }
        
//     .contact-box {
//         flex-basis: 30%;
//     }
// }


@media screen and (max-width: 700px){

    // .flexbox-container-contact {
    //     justify-content: center;
    //     margin-top: 100%;
    // }
    #contact-sub {
    font-size: .5em;
}
        
    .contact-box {
        flex-basis: 10%;
    }

    #contact-sub {
        font-size: .75em;
    }
}

@media screen and (min-width: 701px){

    // .flexbox-container-contact {
    //     justify-content: center;
    //     margin-top: 30%;
    // }
        
    .contact-box {
        flex-basis: 20%;

    
    }
}
