// ##################################################
// USED TO KEEP FOOTER AT BOTTOM OF PAGES
// ##################################################

.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

// ##################################################
// FULL WIDTH RESPONSIVE NAVIGATION BAR IN HEADER
// ################################################## 
  
.nav-bar {
  width: 100vw;
  height: 6rem;
  position: fixed;
  top: 0;
  z-index: 10;
}

  .navbar__list {
    z-index: 10;
    display: flex;
    list-style-type: none;
    font-size: 20px;
    justify-content: flex-end; 
    margin: 0px; 
  }
  
  
  .navbar__item {
    margin: 20px;
  }
  
  #home {
    margin-right: auto;

  }
  
  .navbar__item {
    .nav-bar__link {
    color: black;
    text-decoration: none; 
      }
    background-color: $white;
    padding: 5px;
    border: 3px solid $black;
    transform: translateY(-5px);
    box-shadow: 3px 3px 0 $black;
  }

  .navbar__item:hover {
                transform: translateY(2px);
                box-shadow: 0 5px 0 rgba(0,0,0,0);
            } 
  
.navbar__item:active {
    transform: translateY(2px);
    box-shadow: inset 2px 2px 0 rgba(0,0,0,1);
          }

@media screen and (max-width: 560px){
    .nav-bar {
    visibility: hidden;
    }

    .navigation {
        visibility: visible;
    }
}
  
@media screen and (min-width: 561px){
    .nav-bar {
    // display: flex;
    visibility: visible;
    }

    .navigation {
        // display: none;
        visibility: hidden;
    }
}  

// ##################################################
// NAVIGATION CHECKBOX & BUTTON, BACKGROUND ANIMATION
// ON CHECKBOX TOGGLE, NAV MENU & MENU ITEM DISPLAY

// THIS NAV BAR APPEARS ON MOBILE
// ################################################## 


.navigation__checkbox {
  display: none;
}
// button is the styling that the user can see as the menu icon 
.button {
    background-color: $white;
    border: $black;
    border-style: solid;
    border-radius: 50%;
    z-index: 11;
    box-shadow: 0 5px 0 $black;
      
      &:hover {
          transform: translateY(5px);
          box-shadow: 0 5px 0 rgba(0,0,0,0);
      }
  
      &:active {
          transform: translateY(2px);
          box-shadow: inset 0px 2px 0px $black;
      }
  }

  .move{
    animation: bounce 3s ease-in-out infinite both;
    }

  #rectangle {
    width: 4rem;
    height: 1rem;
    border-radius: 0%;
    text-decoration: none;
    font-family: $sub-heading-font;
    text-align: center;
    padding: 0;
  }

  #navigation {
    width: 2rem;
    height: 2rem;
    position: fixed;
    top: 4rem;
    right: 10%;
    }

// this is hidden behind the menu button and will expand to fill the screen when the menu button has been pressed
  .navigation__background {
    height: 1px;
    width: 1px;
    border-radius: 0%;
    position: fixed;
    top: 10%; //hides the background behind button
    right: 15%; //hides the background behind button
    background-color: $orange;
    z-index: 10;
    transition: transform 0s;
}

.navigation__container {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 10%;
    z-index: 10;
    transition: all .3s;
  
    // sets the menu to not display so it is only visible once the checkbox toggle has been selected by the user
    display: none;
    visibility: hidden;
  }

  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }

  .navigation__item {
    margin: 1rem;
  }

  .navigation__link {
    &:link, &:visited {
        display: inline-block;
        font-size: 3rem;
        color: $black;
        text-decoration: none;
        text-transform: lowercase;
        padding: 0.5rem 2rem;
        background-image: linear-gradient(-90deg, transparent 0%, transparent 50%, $white 50%);
        background-size: 220%;
        transition: all 0.4s;
    }
    
    &:hover, &:active {
        background-position: 100%;
        color: $black;
      }
  }

// sibling selectors used to change specific elements once the checkbox (nav menu) has been selected by the user 
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(200000);
  }

  .navigation__checkbox:checked ~ .navigation__container {
    display: block; //will now display the menu on the screen
    visibility: visible;
  }
  
  .navigation__checkbox:checked ~ #navigation {
      transform: translateY(2px); 
      box-shadow: inset 0px 2px 0px $black; //makes the button look like it has been pushed
  }


@keyframes bounce {
  from {
            transform: scale(1);
            transform-origin: center;
            // animation-timing-function: ease-in;
  }
  50% {
            transform: scale(0.4);
            transform-origin: center;
            // animation-timing-function: ease-in;
  }
 
  // 80% {
  //           transform: scale(1);
  //           // animation-timing-function: ease-in;
  // }
}


// ##################################################
// FOOTER NAV ITEMS
// ##################################################

  .footer__list {
    display: flex;
    list-style-type: none;
    font-size: 10px;
    justify-content: center;
    margin: 0px; 

  }


  @media screen and (min-width: 700px){
    .footer__list {
      justify-content: flex-end;
    }
  }