// ##################################################
// PROJECTS PAGE
// ##################################################

.flexbox-container-projects {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: 200px auto auto auto;
    justify-content: flex-start;

    img {
        object-fit: cover;
        width: 100%;
        border: 3px solid $black;
        filter: grayscale(0%);

        &:hover {
            filter: grayscale(100%);
        }
    }

    p {
        font-size: 100%;
    }
}

.project-box {
    flex-basis: 100%;
    width: 100%;
    position: relative;
    margin-bottom: 10px;

    p {
        margin: 20px 0px;
    }

    h4 {
        display: inline-block;
        color: $pink;
        position: absolute;
        padding: 1em;
        top: 3em;
        z-index: 3;
    }

    h5 {
        display: inline-block;
        color: $white;
        position: absolute;
        padding: 1em;
        top: 7em;
        z-index: 3;
        animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
    }

    .repo {
        text-decoration: none;
        display: inline-block;
        color: $pink;
        background-color: $black;
        position: absolute;
        padding: 1em;
        top: 11em;
        left: 3px;
        z-index: 3;
        animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
    }  

   
}

.project-title {
    color: $white;
    // display: none;
}


@media screen and (min-width: 600px){

    #projects {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .project-box {
    
    h4, h5 {
        display: none;
    }

    .project-title {
        display: block;
    }
}

    .flexbox-container-projects {

        justify-content: space-between;
        
        img {
            height: 300px;
            object-fit: cover;
            width: 100%;
            border: 3px solid $black;
            
            filter: grayscale(100%);
            &:hover {
                filter: grayscale(0%);
            }
        }
    
        p {
            font-size: 100%;
        }
    }
    
    // #project-one-image {
    //     order: 1;
    // }

    // #project-one-text {
    //     order: 3;
    // }

    // #project-two-image {
    //     order: 2;
    // }

    // #project-two-text {
    //     order: 4;
    // }
        
    .project-box {
        flex-basis: 45%;

        // h4, h5 {
        //     display: none;
        // }

        // a {
        //     background-color: $yellow;

        // }
    }
}

@media screen and (min-width: 748px){

    // #project-one-image {
    //     order: 1;
    // }

    // #project-one-text {
    //     order: 2;
    // }

    // #project-two-image {
    //     order: 3;
    // }

    // #project-two-text {
    //     order: 4;
    // }

    .project-box {
        flex-basis: 30%;
    
    // h4, h5 {
    //     display: none;
    // }
}
}
