@import url('https://fonts.googleapis.com/css?family=Raleway:500|Roboto+Mono:300&display=swap');

$heading-font: "Raleway", sans-serif;
$sub-heading-font: "Roboto Mono", monospace;

$green: rgb(47, 214, 175);
$pink: rgba(255, 54, 117, 1);
$yellow: rgba(255, 206, 0, 1);
$orange: rgba(254, 93, 37, 1);
$black: rgba(0,0,0,1);
$white: rgba(255, 255, 255, 1);

@import "text-styles";
@import "navigation";
@import "blog-page";
@import "contact-page";
@import "about-page";
@import "projects-page";

* {
    margin: 0;
    padding: 0;
    cursor: url("./images/pointer.png"), default;
}

li {
    font-family: $heading-font;
}

p {
    font-family: $sub-heading-font;
    font-size: 1.5em;
}

body {
    background-color: $green;
    width: 100vw;
    
}


.yellow-shadow {
    box-shadow: 0 5px 10px rgba(255, 206, 0, 0.8);
    }
.pink-shadow {
    box-shadow: 0 5px 10px rgba(255, 54, 117, 0.8);
        }
.green-shadow {
    box-shadow: 0 5px 10px rgba(47, 214, 175, 0.8);
    }


// ##################################################
// TITLE ANIMATIONS
// ##################################################

@keyframes slide-in-left {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }

  @keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);;
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

// ##################################################
// BUTTONS TO CHANGE COLOUR OF BACKGROUND
// ##################################################

.button-radio {
    display: none;
}

// BUTTONS USED AS LABELS FOR THE HIDDEN RADIO BUTTONS
.button {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    border-radius: 100%;
    background-color: $white;
    border: 2px solid $black;
    display: inline-block;
    transform: translateY(-5px);
    box-shadow: 0 5px 0 $black;

        &:hover {
            transform: translateY(5px);
            box-shadow: 0 5px 0 rgba(0,0,0,0);
        }

        &:active {
            transform: translateY(2px);
            box-shadow: inset 0px 2px 0px $black;
        }
}

// POSITIONING IN BOTTOM LEFT CORNER OF SCREEN
#left {
    position: absolute;
    bottom: 4rem;
    left: 4rem;
    display: inline-block;
}

#middle {
    position: absolute;
    bottom: 4rem;
    left: 7rem;
    display: inline-block;
}

#right {
    position: absolute;
    bottom: 4rem;
    left: 10rem;
    display: inline-block;
}

.colour-background {
    height: 2px;
    width: 2px;
    position: fixed;
    bottom: 4.5rem;
    left: 4.25rem;
    z-index: -1;
    transition: transform 0s;
}

.button-radio:checked ~ .colour-background {
    transform: scale(100000);
}

.yellow {
    background-color: $yellow;
}

.pink {
    background-color: $pink;    
}

.green {
    background-color: $green;
}

.white {
    background-color: $white;
}


// ##################################################
// MEDIA QUERIES TO MAKE HEADINGS RESPONSIVE
// ##################################################

@media screen and (min-width: 1500px) {

    .heading-primary {

        .long-text {
            display: block
        }
        .medium-text {
            display: none;
        }
        .short-text {
            display: none;
        }
    }
}

@media screen and (max-width: 1499px) {

    .heading-primary {

        .long-text {
            display: none;
        }
        .medium-text {
            display: block;
        }
        .short-text {
            display: none;
        }
    }
}

@media screen and (max-width: 600px) {

    .heading-primary {

        .long-text {
            display: none;
        }
        .medium-text {
            display: none;
        }
        .short-text {
            display: block;
        }
    }
}

