@import url('https://fonts.googleapis.com/css?family=Raleway:500|Roboto+Mono:300&display=swap');

$heading-font: "Raleway", sans-serif;
$sub-heading-font: "Roboto Mono", monospace;

$green: rgba(63, 244, 201,1);
$pink: rgba(255, 192, 203, 1);
$yellow: rgba(255, 255, 0, 1);
$orange: rgba(236, 100, 73, 1);
$black: rgba(0,0,0,1);
$white: rgba(255, 255, 255, 1);

* {
    margin: 0;
    padding: 0;
}

h1, li {
    font-family: $heading-font;
}

p {
    font-family: $sub-heading-font;
}

// ##################################################
// NAVIGATION CHECKBOX & BUTTON, BACKGROUND ANIMATION
// ON CHECKBOX TOGGLE, NAV MENU & MENU ITEM DISPLAY
// ##################################################

.navigation__checkbox {
  display: none;
}
// button is the styling that the user can see as the menu icon 
.navigation__button {
    background-color: $white;
    width: 2rem;
    height: 2rem;
    position: fixed;
    top: 4rem;
    right: 4rem;
    border: black;
    border-style: solid;
    border-radius: 50%;
    z-index: 11;
    box-shadow: 0 5px 0 $black;
  
      &:hover {
          transform: translateY(5px);
          box-shadow: 0 5px 0 rgba(0,0,0,0);
      }
  
      &:active {
          transform: translateY(2px);
          box-shadow: inset 0px 2px 0px $black;
      }
  
  }

  .navigation__background {
    height: 1px;
    width: 1px;
    // border-radius: 0%;
    position: fixed;
    top: 5rem;
    right: 5rem;
    background-color: $orange;
    z-index: 8;
    transition: transform 0.8s;
}

.navigation__menu {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all .8s;
  
    // sets the menu to not display so it is only visible once the checkbox toggle has been selected by the user
    display: none;
    visibility: hidden;
  }

  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }

  .navigation__item {
    margin: 1rem;
  }