@import url("https://fonts.googleapis.com/css?family=Raleway:500|Roboto+Mono:300&display=swap");
* {
  margin: 0;
  padding: 0;
}

li {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Roboto Mono", monospace;
  font-size: 1.5em;
}

body {
  background-color: #2fd6af;
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: white;
  width: 2rem;
  height: 2rem;
  position: fixed;
  top: 4rem;
  right: 4rem;
  border: black;
  border-style: solid;
  border-radius: 50%;
  z-index: 11;
  box-shadow: 0 5px 0 black;
}
.navigation__button:hover {
  transform: translateY(5px);
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
}
.navigation__button:active {
  transform: translateY(2px);
  box-shadow: inset 0px 2px 0px black;
}

.navigation__background {
  height: 1rem;
  width: 1rem;
  border-radius: 0%;
  position: fixed;
  top: 5rem;
  right: 5rem;
  background-color: #fe5d25;
  z-index: 10;
  transition: transform 0s;
}

.navigation__container {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 10%;
  z-index: 10;
  transition: all 0.3s;
  display: none;
  visibility: hidden;
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  color: black;
  text-decoration: none;
  text-transform: lowercase;
  padding: 0.5rem 2rem;
  background-image: linear-gradient(-90deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  transition: all 0.4s;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: black;
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(200);
}

.navigation__checkbox:checked ~ .navigation__container {
  display: block;
  visibility: visible;
}

.navigation__checkbox:checked ~ .navigation__button {
  transform: translateY(2px);
  box-shadow: inset 0px 2px 0px black;
}

.solid-bg {
  width: 100vw;
  height: 6.5rem;
  position: fixed;
  z-index: 10;
  opacity: 0.9;
}

.long-text {
  display: none;
}

.medium-text {
  display: none;
}

.short-text {
  display: none;
}

.heading-container {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.heading-primary {
  color: white;
  text-transform: lowercase;
}
.heading-primary .main {
  font-family: "Raleway", sans-serif;
  display: block;
  font-size: 11rem;
  animation: moveInLeft 1s ease-out;
}
.heading-primary .title {
  font-family: "Raleway", sans-serif;
  display: block;
  font-size: 200%;
  animation: moveInLeft 1s ease-out;
}
.heading-primary .subtitle {
  font-family: "Raleway", sans-serif;
  display: block;
  font-size: 175%;
  animation: moveInLeft 1s ease-out;
}
.heading-primary .sub {
  display: block;
  font-size: 1em;
  font-family: "Roboto Mono", monospace;
}

.further-sub {
  display: block;
  font-size: 1em;
  font-family: "Roboto Mono", monospace;
  background-color: black;
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.button-radio {
  display: none;
}

.button {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  border-radius: 100%;
  background-color: white;
  border: 2px solid black;
  display: inline-block;
  transform: translateY(-5px);
  box-shadow: 0 5px 0 black;
}
.button:hover {
  transform: translateY(5px);
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
}
.button:active {
  transform: translateY(2px);
  box-shadow: inset 0px 2px 0px black;
}

#left {
  position: absolute;
  bottom: 4rem;
  left: 4rem;
  display: inline-block;
}

#middle {
  position: absolute;
  bottom: 4rem;
  left: 6rem;
  display: inline-block;
}

#right {
  position: absolute;
  bottom: 4rem;
  left: 8rem;
  display: inline-block;
}

.colour-background {
  height: 2px;
  width: 2px;
  position: fixed;
  bottom: 4.5rem;
  left: 4.25rem;
  z-index: -1;
  transition: transform 0s;
}

.button-radio:checked ~ .colour-background {
  transform: scale(100000);
}

.yellow {
  background-color: #ffce00;
}

.pink {
  background-color: #ff3675;
}

.green {
  background-color: #2fd6af;
}

@media screen and (min-width: 1500px) {
  .heading-primary .long-text {
    display: block;
  }
  .heading-primary .medium-text {
    display: none;
  }
  .heading-primary .short-text {
    display: none;
  }
}
@media screen and (max-width: 1499px) {
  .heading-primary .long-text {
    display: none;
  }
  .heading-primary .medium-text {
    display: block;
  }
  .heading-primary .short-text {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .heading-primary .long-text {
    display: none;
  }
  .heading-primary .medium-text {
    display: none;
  }
  .heading-primary .short-text {
    display: block;
  }
}
@media screen and (max-height: 640px) {
  .heading-primary {
    font-size: 16px;
  }
}
.strike {
  text-decoration: line-through;
}

.title__container {
  position: absolute;
  top: 7rem;
  left: 4rem;
}

.about__container {
  position: absolute;
  top: 30%;
  left: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80vw;
}

.box {
  padding: 3%;
  font-size: 100%;
}
.box img {
  visibility: visible;
  object-fit: contain;
  width: 100%;
}

#box-one {
  flex-basis: 100%;
  font-size: 1.2rem;
}

#photo, #box-two {
  flex-basis: 44%;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 1000;
  background-image: linear-gradient(to top, white 35%, transparent 35%);
}
.link:hover {
  background-color: white;
}
.link::visited {
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .pink {
    background-color: #2fd6af;
  }

  .title__container {
    left: 3rem;
  }

  #photo, #box-two {
    flex-basis: 100%;
  }

  p {
    font-size: 1em;
  }

  .heading-primary .subtitle {
    font-size: 150%;
  }

  .link {
    background-color: white;
  }
}

/*# sourceMappingURL=styles.css.map */
