@import url("https://fonts.googleapis.com/css?family=Raleway:500|Roboto+Mono:300&display=swap");
* {
  margin: 0;
  padding: 0;
}

li {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Roboto Mono", monospace;
}

body {
  background-color: #3ff4c9;
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: white;
  width: 2rem;
  height: 2rem;
  position: fixed;
  top: 4rem;
  right: 4rem;
  border: black;
  border-style: solid;
  border-radius: 50%;
  z-index: 11;
  box-shadow: 0 5px 0 black;
}
.navigation__button:hover {
  transform: translateY(5px);
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
}
.navigation__button:active {
  transform: translateY(2px);
  box-shadow: inset 0px 2px 0px black;
}

.navigation__background {
  height: 1rem;
  width: 1rem;
  border-radius: 0%;
  position: fixed;
  top: 5rem;
  right: 5rem;
  background-color: #ec6449;
  z-index: 8;
  transition: transform 0s;
}

.navigation__container {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 10%;
  z-index: 10;
  transition: all 0.3s;
  display: none;
  visibility: hidden;
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  color: black;
  text-decoration: none;
  text-transform: lowercase;
  padding: 0.5rem 2rem;
  background-image: linear-gradient(-90deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  transition: all 0.4s;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: black;
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(200);
}

.navigation__checkbox:checked ~ .navigation__container {
  display: block;
  visibility: visible;
}

.navigation__checkbox:checked ~ .navigation__button {
  transform: translateY(2px);
  box-shadow: inset 0px 2px 0px black;
}

.heading-container {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.heading-primary {
  color: white;
  text-transform: lowercase;
}
.heading-primary .main {
  font-family: "Raleway", sans-serif;
  display: block;
  font-size: 6em;
  animation: moveInLeft 1s ease-out;
}
.heading-primary .sub {
  display: block;
  font-size: 1em;
  font-family: "Roboto Mono", monospace;
}
.heading-primary .further-sub {
  display: block;
  font-size: 1em;
  font-family: "Roboto Mono", monospace;
  background-color: black;
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
}
.heading-primary .background-highlight-light {
  background-color: white;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/*# sourceMappingURL=styles.css.map */
